@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}


#shopify__header__section {
    display: none !important;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-for-layout {
    flex: 0 !important;
}



.Appcontainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #525252;
    margin: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
}


.upload-error-text {
    color: #EF4444;
    font-size: 14px;
    margin-top: 8px;
}


/* tooltip css */
.tooltip-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.info-icon {
    margin-left: 6px;
}

.tooltip-content {
    position: absolute;
    bottom: 120%;
    left: -140%;
    transform: translateX(-50%);
    background: #fff;

    color: #111;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 1.4;
    white-space: normal;
    min-width: 180px;
    max-width: 240px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 20;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    border: 1px solid #e5e5e5;
}

/* Tooltip arrow */
.tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 25%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}

/* .tooltip-wrapper:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
} */


/* scrollbar */


/* For Firefox */
/* scrollbar-width: thin; */
/* Thin scrollbar */
/* scrollbar-color: #3498db #f1f1f1; */
/* Thumb color, Track color */

.selected-size {
    margin-top: 15px;
}

.appScrollable {
    max-height: 100vh;
    overflow-y: auto;
}

.appScrollable::-webkit-scrollbar {
    width: 5px;
}

.appScrollable::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 10px;
}

.appScrollable::-webkit-scrollbar-track {
    background: #fdf9ee;
}

.tooltip-wrapper:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}